.DS_Store

slack-advanced-exporter.darwin-amd64.tar.gz
slack-advanced-exporter.linux-amd64.tar.gz
slack-advanced-exporter.windows-amd64.zip

COOKIE
TOKEN
export/
files/
export.zip
input.zip
output.zip
/slack-advanced-exporter

.idea

build/
release/
